<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="../users.css"> 
</head>
<body>

<div class="table-container">
    <input type="text" id="searchInput" placeholder="Search for users..">
    <a href="/add_user" class="add-button">ADD</a> 
    <table id="userTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <input type="hidden" class="userId" value="{{ user.id }}">
                    <button class="delete-button">DELETE</button>
                    <button class="update-button">UPDATE</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>