<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <form method="post" action="/adduser">
        <label for="firstname">First name:</label>
        <input type="text" name="Firstname" /><br />
        <label for="lastname">Last name:</label>
        <input type="text" name="Lastname" /><br />
        <label for="Jobtitle">Job Title:</label>
        <input type="text" name="Jobtitle" /><br />
        <label for="Email">Email:</label>
        <input type="email" name="Email" /><br />
        <label for="Phone">Phone:</label>
        <input type="text" name="Phone" /><br />
        <label for="Adress">Adress:</label>
        <input type="text" name="Address" /><br />
        <label for="City">City:</label>
        <input type="text" name="City" /><br />
        <label for="Country">Country:</label>
        <input type="text" name="Country" /><br />
        <label for="Postalcode">Postalcode:</label>
        <input type="text" name="Postalcode" /><br />
        <label for="Dateofbirth">Dateofbirth:</label>
        <input type="text" name="Dateofbirth" /><br />
        <label for="Nationality">Nationality:</label>
        <input type="text" name="Nationality" /><br />
        <label for="Summary">Summary:</label>
        <input type="text" rows="5" name="Summary" /><br />
        <label for="Workexperience">Workexperience:</label>
        <input type="text" name="Workexperience" /><br />
        <label for="Education">Education:</label>
        <input type="text" name="Education" /><br />
        <label for="Skills">Skills:</label>
        <input type="text" name="Skills" /><br />
        <label for="Languages">Languages:</label>
        <input type="text" name="Languages" /><br />

        <input type="submit" id="submit" value="Send data" />
    </form>
</body>
</html>
