<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <h1>{{Firstname}} {{Lastname}}</h1>

    <p>Job Title: {{Jobtitle}}</p>
    <p>Email: {{Email}}</p>
    <p>Phone: {{Phone}}</p>
    <p>Address: {{Address}}</p>
    <p>City: {{City}}</p>
    <p>Country: {{Country}}</p>
    <p>Postalcode: {{Postalcode}}</p>
    <p>Dateofbirth: {{Dateofbirth}}</p>
    <p>Nationality: {{Nationality}}</p>
    <p>Summary: {{Summary}}</p>
    <p>Workexperience: {{Workexperience}}</p>
    <p>Education: {{Education}}</p>
    <p>Skills: {{Skills}}</p>
    <p>Languages: {{Languages}}</p>
  </body>
</html>
